[Desktop Entry]
Name=KSD launcher
Exec=/usr/lib/ksd-launcher/data/start.sh
Comment=
Terminal=false
Icon=/usr/lib/ksd-launcher/data/sd.png
Type=Application